<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--
            Foreground service that records GPS + IMU + barometer while a ride
            is in progress. The "location" type is mandatory on API 34+ for
            services that receive location updates in the background.
        -->
        <service
            android:name="com.dhava.core.recording.RecordingService"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>
